.DS_Store
labs/lab1/lab1.pdf
projects/codes/

*/cmake-build-debug/
*/*/cmake-build-debug/

*/.idea/
*/*/.idea/
20FA/Project/VE482-mumsh-master/.idea/misc.xml
20FA/Project/VE482-mumsh-master/.idea/misc.xml
