.DS_Store
labs/lab1/lab1.pdf
projects/codes/

*/cmake-build-debug/
*/*/cmake-build-debug/
*/*/*/cmake-build-debug/
*/*/*/*/cmake-build-debug/

*/.idea/
*/*/.idea/
*/*/*/.idea/
*/*/*/*/.idea/
*.zip
projects/p2-group-06/
*.so
*.o
*.gch
labs/lab6/code/dl_sort_txt的副本/
labs/lab6/code/l6.dSYM/
labs/lab6/code/l6_memory_check.dSYM/
projects/p3-group-08/
projects/p3-group-04/
